.modal__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;

  h4 {
    text-align: center;
    padding: 0 32px;
    margin-top: 40px;
    margin-bottom: 24px;
  }

}

.button__container {
  display: flex;
  &:last-child(1) {
    margin-left: 24px;
  }
}


.close__btn {
  position: absolute;
  right: 0;
  top: 0;
}