.btn
{
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;

    margin: 0 0 20px 0;
    padding: 12px 20px;

    cursor: pointer;
    transition: .7s;
    text-align: center;
    white-space: nowrap;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: 0;
    background: #ff3864;
}

.btn:hover
{
    background: #ff6385;
    box-shadow: -1px -1px 20px 1px #ff6385, 1px 1px 20px 1px #ff6385;
}

.btn:focus
{
    background: #ff6385;
    box-shadow: -1px -1px 20px 1px #ff6385, 1px 1px 20px 1px #ff6385;
}

.btn:active
{
    box-shadow: -1px -1px 20px 1px rgba(45,226,230,.7), 1px 1px 20px 1px rgba(45,226,230,.7);
}

.btn:disabled {
    background-color: #bdc3c7;
    box-shadow: none;
}
